body{
    margin: 0;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    color: #EEEEEE;
    width: 575px;
    height: 385px;
    border: 1px solid;
    border-radius: 16px;
}
h3{
    font-family: verdana;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
}
.scoreboard{
    width: 155px;
    height: 120px;
    border-radius: 5px;
    text-align: center;
    background-color: #080001;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.score{
    line-height: 1;
    color: #F94F68;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
}
button{
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    font-family: Cursed Timer ULiL;
    font-size: 20px;
    padding: 10px 8px;
}
.points{
    display:flex;
    justify-content:space-around;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
